<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.sys.dao.SysRoleDao">
	<select id="findPageObjects" resultType="com.jt.sys.entity.SysRole">
		select *
		from sys_roles
		<include refid="queryWhereId" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>

	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_roles
		<include refid="queryWhereId" />
	</select>

	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<delete id="deleteObject" parameterType="int">
		delete
		from sys_roles
		where id=#{id}
	</delete>
	<!-- 保存角色自身信息 说明:假如希望获取写入到数据库表中的自增长的id值 需要在insert元素中配置如下选项 1)useGeneratedKeys="true" 
		2)keyProperty="id" (这个id对应pojo对象的id属性) 此配置写好以后,系统底层会自动将自增长的主键值存储 到pojo对象的id属性上. -->
	<insert id="insertObject" parameterType="com.jt.sys.entity.SysRole"
		useGeneratedKeys="true" keyProperty="id">

		insert into sys_roles
		(id,name,note,createdTime,modifiedTime,
		createdUser,modifiedUser)
		values
		(null,#{name},#{note},now(),now(),
		#{createdUser},#{modifiedUser})

	</insert>

	<update id="updateObject" parameterType="com.jt.sys.entity.SysRole">
		update sys_roles

		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="note!=null and note!=''">
				note=#{note},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modifiedUser=#{modifiedUser},
			</if>
			modifiedTime=now()
		</set>
		where id=#{id}
	</update>

	 <!-- 基于id查询角色自身信息 -->
    <select id="findObjectById"
            resultType="com.jt.sys.entity.SysRole">
         select *
         from sys_roles
         where id=#{id}
    </select>
    <!-- 获取角色信息 -->
	<select id="findObjects"
            resultType="com.jt.common.vo.CheckBox">
       
           select id,name
           from sys_roles
    
    </select>
	
	
	
</mapper>
